* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* this is for header */
header {
    background-image: url(../images/banner/banner2.png);
}